<% include ../partial/header.ejs %>
<div style="padding-top: 80px;padding-left: 40px;padding-right: 40px;">
<a class="btn btn-primary" href="/users/add"><i class="fas fa-user-plus"></i> Add</a>
</div>
<% include ../partial/footer.ejs %>